#section-0-items-item-0-horizontal-components-component-1 {
  text-align: right;
  padding: 10px;
  color: #000000;
  font: HelveticaNeue;
  size: 20px;
}
#section-0-items-item-0-horizontal-components {
  display: flex;
}
#section-0-items-item-1-vertical-components-component-0 {
  text-align: right;
  padding: 10px;
  color: #000000;
  font: HelveticaNeue;
  size: 20px;
}
#section-0-items-item-1-vertical-components-component-1 {
  width: 50px;
  height: 50px;
  background: #00ff00;
  color: #ffffff;
  font: HelveticaNeue;
  size: 12px;
  border-radius: 25px;
}
#section-0-items-item-1-vertical-components-component-2 {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
#section-0-items-item-1-vertical-components-component-4::placeholder {
  color: #cecece;
}
#section-0-items-item-1-vertical-components-component-4 {
  font: HelveticaNeue;
  text-align: center;
  width: 200px;
  size: 12px;
}
#section-0-items-item-1-vertical-components-component-5::placeholder {
  color: #cecece;
}
#section-0-items-item-1-vertical-components-component-5 {
  background: rgba(0, 0, 0, 0);
  font: HelveticaNeue;
  text-align: center;
  width: 300px;
  height: 100px;
  size: 12px;
}
#section-0-items-item-1-vertical-components {
  display: flex;
  flex-direction: column;
}
